body{
    background-color: bisque;
}

.UpperPage h1{
    float: left;
    padding: 10px;
    margin-left: 30px;
}
.UpperPage input{
    float: left;
    font-size: 2em;
    position: relative;
    top: 27px;
    margin-left: 10px;
    background-color: rgb(236, 226, 214);;

    border: solid black;
    border-radius: 10px;
}
.UpperPage button{
    float: left;
    font-size: 2em;
    margin-left: 20px;
    position: relative;
    top: 27px;
    background-color: rgb(233, 192, 143);

    border: solid black;
    border-radius: 10px;
}
.UpperPage button:hover{
    background-color: rgb(233, 202, 165);;
    cursor: pointer;
}
.box1{
    border: solid black;
    border-radius: 10px;
    text-align: center;
    width: 200px;
    height: 700px;
    float: left;
    margin-right: 30px;

    background-image: url(Images/Gods.jpg);
}
.AboutField{
    font-size: 2em;
    text-align: center;
    margin: 100px;
}
