<%- include('partials/head.ejs')%>
<body>
    <div class="AboutField">
        <h1>About Hellenic Dictionary</h1>
        <p>This is a dictionary of Ancient Greek and Roman gods you can get information by searching with Greek or Roman names.
        Items you can search for are below this text you will NOT get any result searching anything other than these
        </p>

        <ul id="GodsList">
            <ul>
            <% for(let god of god_list){%>
                <li> <%=god%> </li>
            <%}%>
            </ul>
        </ul>

    </div>
</body>
</html>