<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Hellenic Dictionary</title>
    <link rel="stylesheet" href="../styles/style.css">
</head>
<body>
    <div class="AboutField">
        <h1>About Hellenic Dictionary</h1>
        <p>This is a dictionary of Ancient Greek and Roman gods you can get information by searching with Greek or Roman names.
        Items you can search for are below this text you will NOT get any result searching anything other than these
        </p>

        <ul id="GodsList"></ul>

        <script src="../src/dictionary.js"></script>
    </div>
</body>
</html>