<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
</head>
<body>
    <main>
        <img src="../styles/Images/void.png" alt="image of void"
        style="width: 1000px;">
        <h1>404 NOT FOUND</h1>
    </main>

    <style>
        body{
            background-color: rgb(10, 4, 9);
        }
        main{
            text-align: center;
            margin-top: 30px;
        }
        h1{
            text-align: center;
            font-size: 130px;
            color: silver;
        }
    </style>


</body>
</html>